:root {
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* PEGAR A FONTE */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family:   'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #242020;
  color: #dfdfdf;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.box {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;

  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 570px) {
  .box {
    padding-left: 20px;
    padding-right: 20px;
  }
}